/* === RESET GERAL === */
body {
  margin: 0;
  font-family: Arial, sans-serif;

  /* Cor de fundo de fallback */
  background-color: #f4f4f4;

  /* Imagem de fundo */
  background-image: url('/site-estático/public/assets/ChatGPT\ Image\ 12\ de\ abr.\ de\ 2025\,\ 13_32_09.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white; /* Para garantir legibilidade se o fundo for escuro */
}


/* === NAVBAR === */
.Navbar {
  background-color: #00547A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 25px;
}

/* Logo */
.Logo {
  width: 200px;
  height: 40px;
  margin-left: 20px;
}

/* Menu de Navegação */
.Menu {
  display: flex;
  color: white;
  text-decoration: none;
}

.Menu a {
  font-weight: 500;
  cursor: pointer;
  margin: 0 30px;
  text-decoration: none;
  color: white;
}

.Menu a:hover {
  color: #ffffffe0;
  text-decoration: underline;
}

/* Autenticação (Login e Cadastro) */
.Autenticacao {
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-left: 1px solid white;
}

.Autenticacao p {
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin: 0 20px 0px 10px;
}

.Autenticacao p:hover {
  color: #ffffffe0;
  text-decoration: underline;
}

/* === CONTEÚDO DA HOME === */
.Slogan {
  display: flex;
  flex-direction: column;
  position: relative; /* Necessário para posicionar a onda dentro */
  height: 887px; /* Altura total da tela */
  display: flex;
  justify-content: center;
  text-align: center;
  color: #00547A;
}

.Slogan p {
  margin: 5px;
  font-size: 36px;
  font-weight: bold;
}

.Slogan #seguranca{ 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 60px;
  font-weight: bold;
 margin-right: 350px;
}

.Slogan #confiabilidade{ 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 60px;
  font-weight: bold;
 margin-left: 250px;
}


/* === ONDA DECORATIVA === */
.Waves {
  position: absolute;
  bottom: 0;
  width: 1500px;
  height: 380px;
  background-image: url('/site-estático/public/assets/waves_ofc.png');
  background-repeat: no-repeat;
  background-size: contain;
}
