
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    .container {
      background-color: white;
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
      color: #0B5884;
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

    .sensor {
      margin-top: 10px;
      padding: 10px;
      background: #f0f8ff;
      border-radius: 10px;
    }

    button {
      margin-top: 15px;
      background-color: #0B5884;
      color: white;
      border: none;
      padding: 10px 16px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
    }

    button:hover {
      background-color: #084365;
    }
